@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    @apply bg-lime-700 text-white;
}

.btn-primary{
    @apply bg-lime-700 text-white font-semibold py-2 px-4 rounded-lg shadow-lg;
}

input{
    @apply bg-transparent outline-none px-2 border-b-2 py-2 text-white focus:border-b-lime-500;
}

.smooth {
    @apply transform duration-150;
}

.signup {
  @apply w-8/12 h-full lg:w-2/12 lg:h-full flex flex-col gap-4 justify-center items-center mx-auto -mt-32 lg:mt-0;
}

form {
  @apply flex flex-col gap-4 w-3/12;
}

input {
  @apply bg-transparent border-b-2 px-2 outline-none focus:border-b-lime-500 smooth text-white w-full pb-2;
}


  /* ----
    Animations
  ---- */

  .fadeInRight {
    animation: fadeInRight 1s;
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .fadeInLeft {
    animation: fadeInLeft 1s;
  }
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .fadeInTop {
    animation: fadeInTop 1s;
  }
  @keyframes fadeInTop {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fadeInBottom {
    animation: fadeInBottom 1s;
  }
  @keyframes fadeInBottom {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fadeIn {
    animation: fadeIn 1s ease-in-out;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }


  /* ----
    Animations - end
  ---- */